footer.container
  hr.soften
  .row.tc
    strong Journalism++ 
    | &nbsp;|&nbsp;
    a(href="https://www.facebook.com/journalismplusplus", target="_blank") Facebook 
    | &nbsp;|&nbsp;
    a(href="https://twitter.com/jplusplus_", target="_blank") Twitter 
    | &nbsp;|&nbsp;
    a(href="https://github.com/jplusplus/", target="_blank") Github