.container
	header.top20
		.row
			.span8
				.logo.left50.pull-left.right30
					img(src="/images/jpp.png")
				h1
					a(href="/") Journalism++<br />
					small=_("we build data-first newsrooms")
			.span4
				ul.tr.unstyled.select-lang.right50 									
					- if(typeof about != "undefined")
						li.about
							a(href="#about") !{about.title}
					- ["fr", "en", "de"].forEach(function(lang) {
						- if(session.language === lang) {
							li.active
								a(href="/lang/"+lang)=lang.toUpperCase()
						- } else {
							li
								a(href="/lang/"+lang)=lang.toUpperCase()
						- }		
					- });