.container
	header.row.top20
		.span8
			h1.left50 
				| Journalism++
				small.left30=_("we build data-first newsrooms")
		.span4
			ul.tr.unstyled.select-lang.right50 
				- ["fr", "en"].forEach(function(lang) {
					- if(session.language === lang) {
						li.active
							a(href="/lang/"+lang)=lang.toUpperCase()
					- } else {
						li
							a(href="/lang/"+lang)=lang.toUpperCase()
					- }				
				- });