

include layouts/menu

#main
  .container
    .left50.top20
      a(href="/")=_("â† Back to the homepage!")
    .top20.row

  .full-banner
    img(src="/images/cake.png", alt="Chris zielecki 2012").hidden-phone
    h3.huge-message!=_("We're turning <span class='link-color'>1</span>!")

  ul.carousel
    li <iframe src="http://charts-datawrapper.s3.amazonaws.com/L80ep/index.html" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="500"></iframe>
    li <iframe src="http://charts-datawrapper.s3.amazonaws.com/Dd1CI/index.html" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="500"></iframe>
    li <iframe src="http://charts-datawrapper.s3.amazonaws.com/6wdbT/index.html" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="500"></iframe>
    li <iframe src="http://charts-datawrapper.s3.amazonaws.com/zGZIa/index.html" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="500"></iframe>
    li <iframe src="http://charts-datawrapper.s3.amazonaws.com/vJh43/index.html" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="500"></iframe>
    li <iframe src="http://charts-datawrapper.s3.amazonaws.com/rkJCV/index.html" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="500"></iframe>