include layouts/menu
.container

	#portfolio
		ul.unstyled.js-wrapper
			li.span12.js-card
				.view
					.wrapper
						.legend.btn-group
							h2.lettering-words.pull-left Je suis le titre du site
							a.btn.btn-large.btn-inverse.pull-right
								i.icon-play
						img(src="/images/gallery/4268986830_edccb88587_b_d.jpg")
			li.span12.js-card
				.view
					.wrapper
						.legend.btn-group
							h2.lettering-words.pull-left Je suis le titre du site
							a.btn.btn-large.btn-inverse.pull-right
								i.icon-play
						img(src="/images/gallery/5346475190_40f87cd0bd_b_d.jpg")
			li.span12.js-card
				.view
					.wrapper
						.legend.btn-group
							h2.lettering-words.pull-left Je suis le titre du site
							a.btn.btn-large.btn-inverse.pull-right
								i.icon-play
						img(src="/images/gallery/5364231350_99826bb16b_b_d.jpg")
			li.span12.js-card
				.view
					.wrapper
						.legend.btn-group
							h2.lettering-words.pull-left Je suis le titre du site
							a.btn.btn-large.btn-inverse.pull-right
								i.icon-play
						img(src="/images/gallery/4211690456_4c4ec43c7d_b.jpg")
			li.span12.js-card
				.view
					.wrapper
						.legend.btn-group
							h2.lettering-words.pull-left Je suis le titre du site
							a.btn.btn-large.btn-inverse.pull-right
								i.icon-play
						img(src="/images/gallery/4233696193_22f99dacbd_b.jpg")							

	ul.row.no-bullet.top40	
		li.span2.offset2
			img
			h3.slabtexted 
				span.slabtext Nicolas 
				span.slabtext Kayser-Bril
			p CEO &bullet; Data-journalist depuis 1907
		li.span2
			img
			h3.slabtexted 
				span.slabtext Pierre 
				span.slabtext Romera
			p CTO &bullet; Développeur
		li.span2
			img
			h3.slabtexted 
				span.slabtext Anne-Lise
				span.slabtext Bouyer
			p Chef de projet
		li.span2
			img
			h3.slabtexted 
				span.slabtext Bertrand 
				span.slabtext De Véricourt
			p Développeur
