

include layouts/menu
#main

	#jpp-intro
		.container
			.right60.left60=_("Journalism++ is a network of Data-Journalists that aims to build great stories and tools with data.")
	#jpp-network
		img(src="/images/jppnet_hd.jpg").world.hidden-phone
		ul.place-markers.hidden-phone
			li.place.paris
				a(href="//paris.jplusplus.org")
					span.bg Paris
			li.place.berlin
				a(href="//berlin.jplusplus.org")
					span.bg Berlin
			li.place.stockholm
				a(href="//stockholm.jplusplus.org")
					span.bg Stockholm		
		ul.unstyled.visible-phone.place-list
			li
				a(href="//paris.jplusplus.org") Paris
			li
				a(href="//berlin.jplusplus.org") Berlin
			li
				a(href="//stockholm.jplusplus.org") Stockholm

	if manifest
		.container.top40
			#manifest.rich-text
				.row
					.span10.offset1
						h2 !{manifest.title}
						article !{manifest.content}
