@import "tools.less";

h1, h2, h3, h4, .brand, fieldset legend {
	font-family: 'Averia Sans Libre', sans-serif;
	text-shadow:1px 1px 0 white;
}

body {
	background:url("../images/bg.png");
}

header {	

	h1 {
		
		white-space:nowrap;

		small {
			font-size:25px;
			padding-top:1px;		
			color:fade(@linkColor, 80%);
		}
	}
}

.slabtexted .slabtext:nth-child(1) {
	line-height:1.1;
}

.shadow-large {

	position:relative;
	.box-shadow( 0 0 20px 0 rgba(0,0,0, 0.2) );

	&:after, &:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:15px;

		width:50%;
		height:1px;
		.box-shadow(0 0 30px 5px #000);
	}

	&:after {
		left:20px;
		.rotate(-3deg);
	}

	&:before {
		right:20px;
		.rotate(3deg);
	}

}

.select-lang {

	padding-top:10px;

	li {
		display:inline;
		padding:4px 6px;
		margin-left:6px;		
	}

	.active {
		font-weight: bold;
		background:fade(white, 40%);
		.box-shadow(inset 0 0 4px 0 fade(black, 40%) );
		.border-radius(4px);
		text-shadow:1px 1px 0 white;

		a { 
			color:@textColor;
		}
	}
}

#portfolio {

	position:relative;
	overflow: hidden;	

	.js-card {
						transition:transform 0.8s;
				 -o-transition:-o-transform 0.8s;
				-ms-transition:-ms-transform 0.8s;
			 -moz-transition:-moz-transform 0.8s;
		-webkit-transition:-webkit-transform 0.8s;

		.transform(perspective(1000px));

	  	    	transform-style: preserve-3d;
	       -o-transform-style: preserve-3d;
	      -ms-transform-style: preserve-3d;
	     -moz-transform-style: preserve-3d;
	  -webkit-transform-style: preserve-3d;
	}

	.js-card.fliped {
		
		.transform( rotateX(180deg )   );

		.about {
			z-index:120;		
			.opacity(100);
		}

		.view {	
			z-index:115;
			.opacity(0);			
		}
	}

	&:before, &:after {
		content:"";
		position:absolute;
		z-index:150;
		top:0;

		height:100%;
		width:50px;
	}

	&:after {
		right:0;
		background:url("../images/bg-disappear-right.png") repeat-y right top;
	}

	&:before {		
		left:0;
		background:url("../images/bg-disappear-left.png") repeat-y left top;
	}

	li {
		
		position:relative;
		z-index:100;
		padding:0;
		margin:0;


		.about, .view {	
			.transition(opacity 0.8s);
		  backface-visibility: hidden;
		}

		.about {

			z-index:115;
			position:absolute;
			top:0; left:0;
			.opacity(0);			
			.transform( rotateX( 180deg ) );			

			.row {

				position:relative;
				top:-30px;

				margin:0 50px;	
				padding-top:1px;
				height:380px;

				color:white;
				background:@linkColor;
				text-shadow:none;

				.shadow-large();

				.back {
					cursor:pointer;
					i {
						position:relative;
						top:2px;
						margin-right:5px;						
					}
				}

				.siteurl {
					margin-top:20px;
					position:relative;
					float:right;
					padding:7px;
					font-size:20px;
					background:fade(white, 40%);
					.box-shadow(inset 0 0 2px 0 @linkColor);					
					.border-radius(3px);

					i {
						color:lighten(@linkColor, 10%);
						background-color:darken(@linkColor, 10%);
						border:9px solid darken(@linkColor, 10%);
						font-size:20px;			
						position:absolute;
						right:102%;		
						top:0;			
						.border-radius(3px);
					}
				}

				a {
					color:white;
				}

				h3 {
					text-shadow:none;
					font-size:30px;
					padding-bottom:20px;
				}

				article {
					text-align: justify;
					display:block;
				}

				.visible-desktop {

					margin:50px;
					article {
						.content-columns(2, 30px);
					}

				}
				
				.hidden-desktop {

					margin:25px;
					h3 {
						font-size:20px;
						padding-bottom:10px;
					}

					article {
						font-size:10px;
						line-height: 12px;
					}
				}

				.tags {

					margin-top:25px;

					li {
						float:left;
						font-size:10px;
						height:18px;
						padding:1px 4px;
						padding-right:6px;
						margin-right:20px;
						background:lighten(@linkColor, 10%);
						color:white;	
						.border-radius(3px 0 0 3px);					
						.box-shadow( 0 1px 0 0 darken(@linkColor, 10%) );	

						&:after {
							content:"";
							position:absolute;
							z-index:-1;
							left:100%;
							top:0;
							border:10px solid lighten(@linkColor, 10%);
							border-right-color:transparent;
							border-bottom-color:transparent;
							border-top-color:transparent;
						}

						&:before {							
							content:"";
							position:absolute;
							right:-4px;
							top:50%;

							margin-top:-2px;
							width:4px;
							height:4px;
							.border-radius(50%);
							background:darken(@linkColor, 10%);
						}
 					}
				}

			}

		}

		.view {

			z-index:120;
			position:relative;
			margin:30px 50px;					
			background: #555;
			.transform( rotateX( 0deg ) );

			.shadow-large();		

			.legend {
				
				z-index:100;
				position:absolute;
				right:35px;
				top:-10px;

				width:150px;

				padding:10px;
				text-align:center;
				//.border-radius(10px);	
				.box-shadow( 0 5px 5px 0 fade(black, 40%) );

				background:fade(black, 50%);

				h2 {
					color:fade(white, 90%);
					text-shadow:1px 1px 0 black;
					margin-bottom:20px;
				}

				&:before {
					content:"";
					display:block;
					position:absolute;
					top:0;
					left:-10px;
					border:5px solid fade(black, 60%);
					border-top-color:transparent;
					border-left-color:transparent;
				}

			}

			.wrapper {
				position: relative;
				width:100%;
				background:white;
				overflow:hidden;

				canvas {
					position:absolute;
					top:0;
					left:0;
					.transition(opacity 2s)
				}

				&.open canvas, &:hover canvas {
					opacity:0;
				}

				img {
					width:100%;
				}

				&:after {
					content:"";
					position:absolute;
					top:0; left:0;
					height:100%;
					width:100%;
					.box-shadow(inset 0 0 100px 0 fade(black, 60%) );					
				}
			}
		}

	}
}

#portfolio-nav {

	padding:20px 50px;
	padding-bottom: 0px;
	height:20px;
	text-align:center;

	li {

		display:inline-block;	
		width:20px;
		height:20px;
		overflow:hidden;
		cursor:pointer;
		.border-radius(50%);
		.box-shadow(inset 0 0 2px 0 fade(black, 60%));				
		.transition(0.2s);

		&.active, &.active:hover {
			background:@linkColor;
		}

		&:hover {			
			background:fade(@linkColor, 20%);
		}
	}
}

#team {

	li {		
		text-align: center;
		padding-bottom:20px;
		position:relative;

	  	    	transform-style: preserve-3d;
	       -o-transform-style: preserve-3d;
	      -ms-transform-style: preserve-3d;
	     -moz-transform-style: preserve-3d;
	  -webkit-transform-style: preserve-3d;

	  .transition(transform 1s);

		.pp, .link {
			position:relative;
			width:100px;
			height:100px;
			.border-radius(50%);
			.box-shadow(0 0 15px 0 fade(#000, 30%) );
			border:5px solid fade(white, 10%);

			overflow:hidden;
			margin:auto;
			margin-bottom:20px;

			.transition(0.7s);

			img {
				width:100px;
				z-index:-1;
				.border-radius(50%);
			}

			&:after {
				content:"";
				z-index:10;
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				.border-radius(50%);
				.box-shadow(inset 0 0 10px fade(black, 50%) );
				.transition(0.7s);
			}

		}

		.link {
			background:@linkColor;
			border-color:transparent;			
			&:after { .opacity(0) }
			line-height:100px;		

			position:absolute;	
			top:0;
			left:50%;
			margin-left:-55px;
			.transition(0.7s);
			.opacity(0);
			.transform( rotateY(180deg) );

			a {
				position:absolute;
				z-index:15;
				top:0;
				left:0;

				color:white;
				width:100%;
				height: 100%;
				cursor:pointer;
			}
		}

		&:hover {

			.pp {			
				.transform( rotateY( 180deg ) );
				.opacity(0);
			}

			.link {
				.transform( rotateY( 0deg ) );
				.opacity(100);
			}
		}


	}
}

footer {

	padding:40px 0;
	color:#555;
	text-shadow:1px 1px 0 white;
	.transition(0.6s);

	&:hover {
		color:#000;
	}
}